<div class="container">
  <div class="counter-item">
    <div class="number">
      {{duration.days}}
    </div>
    <div class="info">
      Days
    </div>
  </div>
  <div class="between">
    :
  </div>
  <div class="counter-item">
    <div class="number">
      {{duration.hours}}
    </div>
    <div class="info">
      Hours
    </div>
  </div>
  <div class="between">
    :
  </div>
  <div class="counter-item">
    <div class="number">
      {{duration.minutes}}
    </div>
    <div class="info">
      Minutes
    </div>
  </div>
</div>
