@font-face {
  font-family: 'Gotham-Black';
  src: url(assets/fonts/GothamBlackRegular.ttf) format("opentype");
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url(assets/fonts/GothamMediumRegular.ttf) format("opentype");
}
@font-face {
  font-family: 'Gotham-Light';
  src: url(assets/fonts/GothamLightRegular.otf) format("opentype");
}
