.container {
  background-image: url("../../../assets/comming-soon/background-image.jpg");
  background-size: cover;
  color: white;

  height: calc(100% - 80px);
  width: 100%;

  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  &::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    background-color: rgba($color: #ffe796, $alpha: 0.34);
  }
}

fieldset {
  position: relative;
  z-index: 100;
  width: 100%;
  margin: 0px 100px;
  border: 15px solid white;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  legend {
    font-size: 120px;
    font-weight: 700;
    margin: auto;
    padding: 0px 140px;

    font-family: "Gotham-Black";
  }
  fp-counter {
    height: 80%;
  }
  .info-text {
    font-family: "Gotham-Medium";
    font-size: 45px;
    margin: auto;
    text-align: left;
    letter-spacing: 0;
  }
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width: 1400px) {
  fieldset {
    legend {
      font-size: 100px;
      padding: 0 85px;
    }
    .info-text {
      font-size: 35px;
    }
  }
}
@media screen and (max-width: 1250px) {
  fieldset {
    margin: 0 35px;
    legend {
      font-size: 90px;
    }
    .info-text {
      font-size: 35px;
    }
  }
}
@media screen and (max-width: 925px) {
  fieldset {
    legend {
      font-size: 75px;
      padding: 0 50px;
    }
    .info-text {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 750px) {
  fieldset {
    legend {
      font-size: 60px;
      padding: 0 30px;
    }
  }
}

@media screen and (max-width: 580px) {
  fieldset {
    legend {
      font-size: 45px;
    }
    .info-text {
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-top: 40px;
    height: calc(100% - 40px);
  }
  fieldset {
    margin: 0 15px;
    legend {
      font-size: 45px;
    }
    .info-text {
      text-align: center;
    }
  }
}
