.container {
  background-image: url("../../../assets/comming-soon/background-image.jpg");
  // background: transparent
  background-size: cover;
  color: white;
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  padding-top: 80px;
  &::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    background-color: rgba($color: #ffe796, $alpha: 0.34);
  }
}

fieldset {
  position: relative;
  z-index: 100;
  width: 100%;
  margin: 0px 100px;
  border: 15px solid white;

  display: flex;
  flex-direction: column;

  margin-bottom: 50px;

  legend {
    font-size: 120px;
    font-weight: 700;
    margin: auto;
    padding: 0px 140px;

    font-family: "Gotham-Black";
  }
  .info-text {
    font-family: "Gotham-Medium";
    font-size: 45px;
    margin: auto;
    text-align: left;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 1400px) {
  fieldset {
    legend {
      font-size: 80px;
    }
    .info-text {
      font-size: 35px;
    }
  }
}
@media screen and (max-width: 1250px) {
  fieldset {
    margin: 0 25px;
    legend {
      font-size: 60px;
    }
    .info-text {
      font-size: 30px;
    }
  }
}
